
.allKeyboard {
    padding: 20px;
    background-color: rgb(197, 197, 197);
    border-radius: 10px;
    font-family: monospace;
}

.innerKey {
    background-color: rgb(255,0,0);
    width: 1px;
    height: 1px;
    position: absolute;
}
.key {

    width: 50px;
    min-width: 50px;
    background-color: rgb(243, 243, 243);
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.line {
    margin: 10px;
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10px;
}
.space {
    min-width: 200px;
}
.delete,
.return {
    min-width: 120px;
}
.key:hover {
    border: 2px solid black;
    background-color: rgb(241, 241, 210);
}
.key:active {
    background-color: rgb(247, 247, 137);
    border: 2px solid black;
}

.redline {
    position: absolute;
    width: 2px;
    margin-top: -1px;
    background-color: red;
}



.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    transition: all 0.3s;
}
.switch::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius:50%;
    background-color: white;
    top: 1px;
    left: 1px;
    transition: all 0.3s;
}

.checkbox:checked + .switch::after {
    left : 20px;
}
.checkbox:checked + .switch {
    background-color: #374151;
}
.checkbox {
    display : none;
}

.plugs {
    display: flex; /* or inline-flex */
    flex-direction: row-reverse;
    justify-content: space-between;
}